<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div class="title mb-3">
    <h1>Login</h1>
  </div>
  <form style="width: 40%" [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary float-end">Submit</button>
  </form>
</div>
