<app-detail-modal
  [product]="product"
  (closeModalEvent)="closeModal($event)"
  *ngIf="product"
></app-detail-modal>
<div class="container">
  <div class="float-end mt-5">
    <div class="input-group mb-3">
      <button class="btn btn-primary btn-sm me-3" (click)="swapView()">
        {{ listView ? "Card" : "List" }}
      </button>
      <span class="input-group-text" id="search"
        ><img
          src="../../../assets/icons/search.png"
          style="width: 20px; height: auto"
          alt=""
      /></span>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search"
        [(ngModel)]="searchValue"
      />
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="d-flex flex-wrap justify-content-end mt-5">
    <button class="btn btn-sm btn-primary" [routerLink]="['new']">
      Create New
    </button>
  </div>
  <div class="d-flex flex-wrap justify-content-center" *ngIf="!listView">
    <div
      *ngFor="let product of products$ | async | filterByName: searchValue"
      class="card mt-3 ms-2"
      style="width: 26.5rem"
    >
      <img
        src="../../../assets/card-photos/pp.png"
        class="card-img-top"
        alt="product-image"
        style="width: 100%; height: auto"
      />
      <div
        class="card-body d-flex justify-content-center align-items-center flex-column"
      >
        <h2 class="card-title">{{ product.id }}.{{ product.title }}</h2>
        <p class="card-text">{{ product.description | slice: 0:147 }}...</p>
        <div class="d-flex flex-row">
          <a
            class="btn btn-primary btn-sm me-2"
            (click)="sendProductToModal(product)"
            >Details</a
          ><a class="btn btn-success btn-sm me-2" (click)="editProduct(product)"
            >Edit</a
          ><a class="btn btn-danger btn-sm" (click)="deleteProduct(product)"
            >Delete</a
          >
        </div>

        <br />
        <span>{{ product.quantity }}</span>
        <br />
        <h5 class="card-title">{{ product.price | currency }}</h5>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center" *ngIf="listView">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products$ | async | filterByName: searchValue"
        >
          <th scope="row">{{ product.id }}</th>
          <td><img src="{{ product.image }}" style="width: 30px" alt="" /></td>
          <td>{{ product.title }}</td>
          <td>{{ product.description | slice: 0:110 }}...</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <a
              class="btn btn-primary btn-sm me-2"
              (click)="sendProductToModal(product)"
              >Details</a
            >
            <a
              class="btn btn-success btn-sm me-2"
              (click)="editProduct(product)"
              >Edit</a
            >
            <a class="btn btn-danger btn-sm" (click)="deleteProduct(product)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
