.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}
.alert-box {
  .card {
    .close-icon {
      width: 20px;
      height: auto;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    width: 90vw;
    height: 90vh;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
