<ng-container [formGroup]="myForm">
  <ng-container *ngFor="let formItem of dynamicForm">
    {{ formItem.label }}
    <ng-container [ngSwitch]="formItem.type">
      <input
        *ngSwitchCase="'text'"
        type="text"
        class="form-control"
        [formControlName]="formItem.controlName"
      />
      <select
        *ngSwitchCase="'select'"
        class="form-control"
        [formControlName]="formItem.controlName"
      >
        <option selected [ngValue]="null">Please Select</option>
        <option
          [ngValue]="menu.value"
          *ngFor="let menu of formItem.selectMenuOptions | keyvalue"
        >
          {{ menu.key }}
        </option>
      </select>
    </ng-container>
  </ng-container>
  {{ myForm.value | json }}
  {{ myForm.valid }}
</ng-container>
